version: '3.7'
services:
# phpMyAdmin
  myadmin:
    image: phpmyadmin/phpmyadmin
    container_name: ${APP_NAME}_phpmyadmin
    ports:
      - ${PHPMYADMIN_PORT}:80
    restart: unless-stopped
    environment:
      PMA_HOSTS: ${PMA_HOSTS}
    networks:
      - mysql8
      - mysql57

# Networks
networks:
  mysql8:
    name: mysql8
  mysql57:
    name: mysql57