version: '3.7'
services:
# Database mysql 5.7
# If connection refuse run cli command - alter USER 'root'@'localhost' identified by 'password'
  db_57:
    image: mysql:5.7
    container_name: DB_mysql57
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
#      MYSQL_DATABASE: ${MYSQL_DATABASE}
#      MYSQL_USER: ${MYSQL_USER}
#      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - ${PORT_DATABASE}:3306
    volumes:
      - "./data:/var/lib/mysql"
      - "./etc/mysql/my.cnf:/etc/mysql/my.cnf"
    networks:
      laravel-net:

# Networks
networks:
  laravel-net:
    name: test-net
  reverse-net:
    name: reverse-net