version: '3.7'
services:
# Database mysql 5.7
# If connection refuse run cli command - alter USER 'root'@'localhost' identified by 'password'
  db_57:
    image: mysql:5.7
    container_name: ${APP_NAME}_db57
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL57_ROOT_PASSWORD}
    ports:
      - ${MYSQL57_PORT}:3306
    volumes:
      - "./data:/var/lib/mysql"
      - "./etc/mysql/my.cnf:/etc/mysql/my.cnf"
    networks:
      - mysql57

# Networks
networks:
  mysql57:
    external: true
